@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    //divide $pixel by 16 to return rems
    @return math.div($pixel, 16) + rem;
  } @else {
    @error "Don\t use units when using the rem() function; Only numbers";
  }
}


